.create-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ffffff;
  padding: 20px;
  width: 450px;
  min-height: 250px;
  border-radius: 10px;
  margin-top: 5%;
  font-family: sans-serif;
  transition: opacity 0.3s ease;
}

@media screen and (max-width: 576px) {
  .create-post-container {
    max-width: 300px;
    margin-top: 50px;
  }
}

.create-post-heading {
  font-size: 20px;
  margin: 0;
  color: #ffffff;
  padding-bottom: 25px;
}

.create-post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title-input {
  width: 80%;
  height: 35px;
  padding: 5px;
  margin-bottom: 20px;
  font-size: 15px;
}

@media screen and (max-width: 576px) {
  .title-input {
    width: 90%;
  }
}

.content-input {
  width: 80%;
  height: 100px;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 20px;
  border: none;
}

@media screen and (max-width: 576px) {
  .content-input {
    width: 90%;
    height: 120px;
  }
}

.submit-btn {
  width: 90px;
  height: 35px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #0d6efd;
  color: #ffffff;
  margin-bottom: 10px;
}

.error-msg {
  color: #dc4545;
  font-size: 15px;
  margin: 0;
  margin-bottom: 10px;
}
